<div class="container">
<div class="well">
<h2>Why do resolutions fail?</h2>

<p>It starts off with the basic structure of a resolution.  Resolutions come down to what you see as your ideal self, but they don't tell you how to get there.  <strong>Success is not clearly defined.</strong></p>

<ul>
	<li>"I want to eat more healthy"</li>
	<li>"I want to be more friendly to people"</li>
	<li>"I want to be more fit"
</ul>

<p>Take a look back, did you <i>really</i> eat <i>more healthy</i>?  How can you know for sure?  What does "more" mean?  More than last year?</p>

<p>I took this notion clearly defining what success is and tested it on myself in 2013.  I've always wanted to be healthier, eat better, be fitter, but life tends to get in the way.  Bad week at work = No exercise and binging on TV.</p>

<strong>What if I set a lofty "goal" of exercising one out of every three days...</strong>

<p><strong>365 / 3 = 122 workouts in one year</strong></p>

<p>This is something I can track. I can tell if I worked out for 30 minutes, 45 minutes, 1 hour.  Can I tell if I was more healthy today than I was yesterday by that certain of a degree?</p>

<p>I'm not saying Resolutions are bad.  They are the driving force behind what you see as your ideal self. <strong>I'm saying they are prone to failure because they lack a definition of success.</strong></p>

<p>Any one resolution should have multiple sub-goals associated.  If I say I want to be healthier, I should make an assumption of what that might mean.  Does it mean eating more vegetables?  Does it mean drinking less alcohol?  Does it mean working out more often?  Each of these questions you ask yourself should become a goal. <strong>Test yourself and test often.</strong></p>

<p>What I mean by "Test yourself" is that you need a benchmark to guage whether you're assumptions are right.</p>  <p>For health related goals it is pretty simple, weigh yourself.  Measure your waist.  Run a mile and time it.  Check your resting heartrate.  Any number of tests will work.</p>

<p>For other goals, it needs to boil down to something measurable too.  If you want to learn to paint, paint a picture and keep it.  </p>
</div>

</div>